.header-ar {
    background-image: none;
}

.article-content {
    padding-top: 50px;
}

.article-title {
    font-size: 46px;
}

.container2 {
    max-width: 900px;
    margin: 0 auto;
}

.subtitle-article {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
}

.article-little {
    font-size: 16px;
}

.article-little-border {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block; 
    width: fit-content; 
}

.img-article {
    padding-top: 47px;
    padding-bottom: 47px;
}

.article-text {
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 47px;
}

.orange-title {
    text-transform: uppercase;
    color: #FF7F39;
    padding-bottom: 20px;
    font-size: 24px;
}

.img-article2 {
    padding-top: 0px;
    padding-bottom: 47px;
}

.button-zone {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 17px;
    width: 300px;
    background-color: #FF7F39;
    color: black;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 4px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    margin-bottom: 160px;
    padding-left: 95px;
}

@media (max-width: 380px) {
    .article-title {
        font-size: 20px;
    }

    .article-little {
    font-size: 14px;
}

.article-little-border {
    margin-right: 20px;
}

.article-text {
    font-size: 16px;
    margin-right: 20px;
}

img {
    max-width: 100%;
}

.button {
width: 230px;
padding-left: 55px;
}
}