.header-lan {
    background-image: url(../images/background_main.svg);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    margin-left: 40px;
}

.logo {
    height: 32px;
    width: 174px;
    align-items: flex-start;
    margin-left: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
}

.menu-cont {
    display: flex;
    justify-content: space-between;
}

.stroke {
    display: flex;
    justify-content: flex-start;
}

.title {
    font-family: "Inter Tight", sans-serif;
    font-size: 140px;
    margin-bottom: 18px;
}

.title-right {
    display: flex;
    justify-content: flex-end;
    color: #F4F5F8;
}

.header1-content {
    padding-top: 50px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
}

.header-item {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block; 
    width: fit-content; 
    margin-right: 23px;
    margin-bottom: 57px;
}

.head-main-text {
    font-size: 23px;
    padding-left: 58px;
    padding-top: 15px;
}

button {
    background-color: #FF7F39;
    color: black;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 4px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 23px;
    width: 100%;
    margin-bottom: 160px;
}    

.crosses {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.word-day {
    display: flex;
    justify-content: center;
}

.word-of-day-text {
    font-size: 23px;
    padding-bottom: 26px;
}

.word-of-day-back {
    background-color: #FF7F39;
    border-radius: 27px;
}

.word-of-day-card-text {
    padding: 30px;
}

.functions {
    padding-top: 144px;
}

.function {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.function-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    width: 446px;
}

.function-text {
    font-size: 23px;
    width: 440px;
}

.function-list {
    display: flex;
    justify-content: flex-start;
}

.function-item1 {
    background-image: url(../images/grey-medium.svg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 290px;
    margin-right: 21px;
}

.function-item2 {
    background-image: url(../images/orange-medium.svg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    margin-right: 21px;
}

.function-item3 {
    background-image: url(../images/white-medium.svg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
}

.function-item-title {
    font-size: 28px;
    font-weight: 700;
    padding-top: 72px;
    padding-left: 21px;
}

.function-item-text {
    padding-left: 21px;
    font-size: 23px;
    padding-bottom: 20px;
}

.themes {
    margin-top: 150px;
}

.theme {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.themes-text {
    display: flex;
    flex-direction: column;
}

.theme-title {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
}

.themes-text-main {
    margin-top: 35px;
    font-size: 23px;
    margin-right: 68px;
}

.themes-photoes {
    display: flex;
    justify-content: flex-start;
}

.themes-photo {
    padding-right: 34px;
}

.theme-title1 {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    padding-left: 115px;
    margin-bottom: 53px;
}

.theme-title2 {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    margin-bottom: 53px;
    margin-top: 88px;
    display: flex;
    justify-content: center;
}

.theme-title3 {
    font-family: "Inter Tight", sans-serif;
    font-size: 47px;
    margin-bottom: 53px;
    margin-top: 88px;
    display: flex;
    justify-content: flex-end;
    margin-right: 23px;
}

.theme-points1 {
    display: flex;
    margin-left: 115px;
}

.theme-points2 {
    display: flex;
    justify-content: center;
}

.theme-points3 {
    display: flex;
    justify-content: flex-end;
}

.theme-point {
    border: 1px solid #FF7F39; 
    color: #F4F5F8;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block; 
    width: fit-content; 
    margin-right: 23px;
}

.footer {
    background-image: url(../images/che.svg);
    margin-top: 160px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 73px;
    padding-bottom: 150px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.we {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 170px;
}

.curators {
    display: flex;
    flex-direction: column;
}

.footer-text-main {
    font-size: 18px;
    padding-bottom: 13px;
}

@media (max-width: 1024px) {
    .title {
        font-size: 80px;
    }

    .function-item1 {
    max-height: 212px;
    max-width: 306px;
    margin-right: 18px;
    background-size: contain;
}

.function-item2 {
    max-height: 212px;
    max-width: 306px;
    margin-right: 18px;
    background-size: contain;
}

.function-item3 {
    max-height: 212px;
    max-width: 306px;
    margin-right: 18px;
    background-size: contain;
}

.function-title {
    font-size: 34px;
    width: 328px;
}

.function-item-text {
    font-size: 17px;
}

.title-text {
font-size: 17px;
width: 328px;
}

.function-text {
font-size: 17px;
width: 328px;
}

.theme-title {
font-size: 34px;
}

.theme-title1 {
font-size: 34px;
padding-left: 60px;
margin-bottom: 38px;
}

.theme-title2 {
font-size: 34px;
margin-bottom: 38px;
}

.theme-title3 {
font-size: 34px;
margin-bottom: 38px;
}

.themes-text-main {
font-size: 17px;
width: 260px;
}

.theme-point {
    font-size: 12px;
    padding: 10px 18px;
    margin-right: 17px;
}

.theme-points1 {
    margin-left: 60px;
}

.themes-photo {
    padding-right: 20px;
}

.head-main-text {
    font-size: 17px;
}    
}

@media (max-width: 380px) {
    .title {
font-size: 38px;
    }

    .head-main-text {
    display: none;
}  

.container {
    margin-left: 20px;
}

.header-list {
    flex-direction: column;
}

.header-item {
    margin-bottom: 40px;
}

.word-of-day-card-text img {
    width: 100%;
}


.word-of-day-text {
    font-size: 16px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.word-of-day-back {
    background-color: #FF7F39;
    border-radius: 27px;
    margin-right: 20px;
}

.function-list {
    flex-direction: column;
}

        .function-item1 {
    height: 262px;
    width: 380px;
    
    background-size: contain;
}

.function {
    flex-direction: column;
    padding-bottom: 40px;
}

.function-item2 {
    height: 262px;
    width: 380px;
    
    background-size: contain;
}

.function-item3 {
   height: 262px;
width: 380px;
    
    background-size: contain;
}

.function-title {
    font-size: 34px;
    width: 328px;
}

.function-item-text {
    font-size: 17px;
}

.title-text {
display: none;

}

.function-text {
font-size: 17px;
width: 328px;
padding-top: 20px;
}

.theme-title {
font-size: 34px;
}

.theme-title1 {
font-size: 34px;
padding-left: 0;
margin-bottom: 38px;
font-size: 25px;
margin-bottom: 0px;
}

.theme-title2 {
font-size: 34px;
margin-bottom: 38px;
justify-content: flex-start;
font-size: 25px;
margin-bottom: 0px;
margin-top: 40px;
}

.theme-title3 {
font-size: 34px;
margin-bottom: 38px;
justify-content: flex-start;
font-size: 25px;
margin-bottom: 0px;
margin-top: 40px;
}

.themes-text-main {
font-size: 17px;
width: 260px;
}

.theme-points1 {
    flex-direction: column;
    margin-left: 0px;
}

.theme-points2 {
    flex-direction: column;
}

.theme-points3 {
    flex-direction: column;
}

.theme-point {
    font-size: 12px;
    padding: 10px 18px;
    margin-top: 17px;
}

.themes-photo {
    display: none;
}


.themes-photo {
    padding-right: 20px;
}

.footer-text-main {
    font-size: 13px;
}

.we {
    padding-left: 0;
}

.footer-text {
    flex-direction: column;
}

.footer-content {
    flex-direction: column;
}

nav {
    font-size: 13px;
}

nav a {
   padding-bottom: 5px;
}
.logo {
    display: none;
}
}